.bvm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(22.95774647887324px + 1.877934272300469vw);
}
@media (max-width: 375px) {
.bvm-modal {
    padding: 30px;
}
}
@media (min-width: 1440px) {
.bvm-modal {
    padding: 50px;
}
}
.bvm-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(128,128,128,0.8);
}
.bvm-background-hitbox {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.bvm-slot {
  position: relative;
}
.bvm-slot.type-video {
  background: #fff;
  width: 100%;
  max-width: 600px;
}
.bvm-slot.type-video .contents {
  padding-top: 56.25%;
  background: #fff;
}
.bvm-slot.type-video .close {
  right: calc(0px + 0vw);
  top: calc(-26.47887323943662px + -0.938967136150235vw);
}
@media (max-width: 375px) {
.bvm-slot.type-video .close {
    right: 0px;
}
}
@media (min-width: 1440px) {
.bvm-slot.type-video .close {
    right: 0px;
}
}
@media (max-width: 375px) {
.bvm-slot.type-video .close {
    top: -30px;
}
}
@media (min-width: 1440px) {
.bvm-slot.type-video .close {
    top: -40px;
}
}
.bvm-slot.type-standard {
  background: #fff;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.bvm-contents {
  overflow: auto;
}
.bvm-close {
  color: #fff;
  position: absolute;
  right: calc(-4.084507042253522px + 3.755868544600939vw);
  top: calc(-4.084507042253522px + 3.755868544600939vw);
  transition: color 0.3s;
}
@media (max-width: 375px) {
.bvm-close {
    right: 10px;
}
}
@media (min-width: 1440px) {
.bvm-close {
    right: 50px;
}
}
@media (max-width: 375px) {
.bvm-close {
    top: 10px;
}
}
@media (min-width: 1440px) {
.bvm-close {
    top: 50px;
}
}
.bvm-close .icon {
  font-size: 20px;
}
.bvm-slot.slide-up-enter-active,
.bvm-background.slide-up-enter-active {
  transition: opacity 0.3s, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.bvm-slot.slide-up-enter,
.bvm-background.slide-up-enter {
  opacity: 0;
  transform: translateY(40px);
}
.bvm-slot.slide-up-leave-active,
.bvm-background.slide-up-leave-active {
  transition: opacity 0.5s, transform 0.5s ease-in;
}
.bvm-slot.slide-up-leave-to,
.bvm-background.slide-up-leave-to {
  opacity: 0;
  transform: scale(0.9) translateY(20px);
}
.bvm-slot.scale-enter-active,
.bvm-background.scale-enter-active {
  transition: opacity 0.2s, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bvm-slot.scale-enter,
.bvm-background.scale-enter {
  opacity: 0;
  transform: scale(0.9);
}
.bvm-slot.scale-leave-active,
.bvm-background.scale-leave-active {
  transition: opacity 0.5s, transform 0.5s ease-in;
}
.bvm-slot.scale-leave-to,
.bvm-background.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}
.bvm-slot.fade-enter-active,
.bvm-background.fade-enter-active,
.bvm-slot .fade-leave-active,
.bvm-background .fade-leave-active {
  transition: opacity 0.2s;
}
.bvm-slot.fade-enter-to,
.bvm-background.fade-enter-to,
.bvm-slot.fade-leave,
.bvm-background.fade-leave {
  opacity: 1;
}
.bvm-slot.fade-enter,
.bvm-background.fade-enter,
.bvm-slot.fade-leave-to,
.bvm-background.fade-leave-to {
  opacity: 0;
}

